/* Carrousel de texto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.black-box {
  color: #fff;
  font-size: smaller;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px; /* Ajusta el ancho según tus necesidades */
  overflow: hidden;
}

.black-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: marquee 20s linear infinite;
}

.black-box ul li {
  margin-right: 30px;
  font-size: 10px;
  width: 50vw;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px; /* Ajusta el ancho según tus necesidades */
  overflow: hidden;
}


